<div class="maxui-activity {{#flagged}}maxui-flagged{{/flagged}}" id="{{id}}" userid="{{actor.id}}" username="{{actor.username}}">
    <div class="maxui-activity-content">
        <div class="maxui-topright">
            {{^showLikesCount}}<span class="maxui-publisheddate">{{date}}</span>{{/showLikesCount}}
            {{#showLikesCount}}<span class="maxui-likescount"><strong>{{likes}}</strong><i class="maxui-icon-thumbs-up"></i></span>{{/showLikesCount}}
        </div>
        <div class="maxui-actor">
            <a href="{{portalURL}}/profile/{{actor.username}}" title="{{literals.open_profile}}">
                <span class="maxui-avatar maxui-big"><img src="{{avatarURL}}"></span>
            </a>
            <a class="maxui-filter-actor" href="#">
                <span class="maxui-displayname">{{actor.displayName}}</span>
            </a>
            <span class="maxui-username">{{actor.username}}&nbsp;</span>
        </div>
        <div class="maxui-activity-message">
            {{#fileDownload}}
            <form action="/activities/{{id}}/file/download" method="POST">
                <input type="hidden" name="X-Oauth-Token" value="{{auth.token}}">
                <input type="hidden" name="X-Oauth-Username" value="{{auth.username}}">
                <input type="hidden" name="X-Oauth-Scope" value="widgetcli">
                <input type="hidden" name="X-HTTP-Method-Override" value="GET">
                <span class="maxui-icon-download"></span><input type="submit" class="maxui-download" name="submit" value="{{filename}}">
            </form>
            {{/fileDownload}}
            <p class="maxui-body">{{&text}}</p>

        </div>
    </div>
    <div class="maxui-footer">
        {{#publishedIn}}
        <div class="maxui-origin maxui-icon-">
               {{literals.context_published_in}}
               <a href="{{publishedIn.url}}">{{publishedIn.displayName}}</a>
               {{#via}}
                   {{literals.generator_via}}
                   <span class="maxui-via">
                   {{via}}
                   </span>
               {{/via}}
        </div>
        {{/publishedIn}}
        <div class="maxui-actions">
            <a href="" class="maxui-action maxui-commentaction maxui-icon- {{#replies}}maxui-has-comments{{/replies}}"><strong>{{replies.length}}</strong> {{literals.toggle_comments}}</a>
            <a href="" class="maxui-action maxui-favorites {{#favorited}}maxui-favorited{{/favorited}} maxui-icon-">{{literals.favorite}}</a>
            <a title="{{likesUsernames}}" href="" class="maxui-action maxui-likes {{#liked}}maxui-liked{{/liked}} maxui-icon-"><strong>{{likes}}</strong> {{literals.like}}</a>
            {{#canFlagActivity}}
            <a href="" class="maxui-action maxui-flag {{#flagged}}maxui-flagged{{/flagged}} maxui-icon-">{{literals.flag_activity_icon}}</a>
            {{/canFlagActivity}}
            {{#canDeleteActivity}}
            <a href="" class="maxui-action maxui-delete maxui-icon-">{{literals.delete_activity_icon}}</a>
            <div class="maxui-popover left">
                <div class="maxui-arrow"></div>
                    <h3 class="maxui-popover-title">{{literals.delete_activity_confirmation}}</h3>
                    <div class="maxui-popover-content">
                      <input type="button" class="maxui-button-delete" value="{{literals.delete_activity_delete}}">
                      <input type="button" class="maxui-button-cancel" value="{{literals.delete_activity_cancel}}">
                    </div>
            </div>
            {{/canDeleteActivity}}

        </div>
    </div>

    {{#canViewComments}}
    <div class="maxui-comments" style="display: none">
        <div class="maxui-commentsbox">
            {{#replies}}
                {{> comment}}
            {{/replies}}
        </div>
        {{#canWriteComment}}
        <div class="maxui-newcommentbox">
                <textarea class="maxui-empty maxui-text-input" id="maxui-commentBox" data-literal="{{literals.new_comment_text}}">{{literals.new_comment_text}}</textarea>
                <input disabled="disabled" type="button" class="maxui-button maxui-disabled" value="{{literals.new_comment_post}}"/>
        </div>
        {{/canWriteComment}}
    </div>
    {{/canViewComments}}

    <div class="maxui-clear"></div>
</div>
