<div class="maxui-comment" id="{{id}}" userid="{{actor.id}}" displayname="{{actor.username}}">
    <div class="maxui-activity-content">
       <span class="maxui-publisheddate">{{date}}</span>
       <div class="maxui-actor">
           <a href="{{portalURL}}/profile/{{actor.username}}" title="{{literals.open_profile}}">
               <span class="maxui-avatar maxui-little"><img src="{{avatarURL}}"></span>
            </a>
            <a class="maxui-filter-actor" href="#">
               <span class="maxui-displayname">{{actor.displayName}}</span>
            </a>
            <span class="maxui-username">{{actor.username}}</span>
       </div>
       <div>
           <p class="maxui-body">{{&text}}</p>
           {{#canDeleteComment}}
           <span class="maxui-delete-comment maxui-icon-"></span>
           <div class="maxui-popover left">
                <div class="maxui-arrow"></div>
                    <h3 class="maxui-popover-title">{{literals.delete_activity_confirmation}}</h3>
                    <div class="maxui-popover-content">
                      <input type="button" class="maxui-button-delete" value="{{literals.delete_activity_delete}}">
                      <input type="button" class="maxui-button-cancel" value="{{literals.delete_activity_cancel}}">
                    </div>
           </div>
           {{/canDeleteComment}}
       </div>
    </div>
</div>
