<div class="maxui-message maxui-user-{{#othersMessage}}not{{/othersMessage}}me" id="{{id}}">
    <div class="maxui-activity-content">
        <span class="maxui-avatar maxui-little"><img src="{{avatarURL}}"></span>
        <div class="maxui-balloon">
            {{#fileDownload}}
            <form action="/messages/{{id}}/file/download" method="POST">
                <input type="hidden" name="X-Oauth-Token" value="{{auth.token}}">
                <input type="hidden" name="X-Oauth-Username" value="{{auth.username}}">
                <input type="hidden" name="X-Oauth-Scope" value="widgetcli">
                <input type="hidden" name="X-HTTP-Method-Override" value="GET">
                <span class="maxui-icon-download"></span><input type="submit" class="maxui-download" name="submit" value="File download">
            </form>
            {{/fileDownload}}
            {{#showDisplayName}}<span class="maxui-displayname">{{displayName}}</span>{{/showDisplayName}}
            <p class="maxui-body">{{&text}}</p>
            <span class="maxui-publisheddate">{{date}}</span>
            <i class="maxui-icon-check{{#ack}} maxui-ack{{/ack}}"></i>
        </div>
    </div>
    <div class="maxui-clear"></div>
</div>
