#maxui-container textarea.maxui-text-input {
    width:97.75% \0/;
    *width:97.75%;
    height:45px \0/;
    min-height:45px \0/;
    *height:45px;
    *min-height:45px;
    /* The good ones*/
    width:100%;
    min-height: 48px;
    height:48px;
}

.maxui-button {*overflow: visible}

#maxui-newactivity .maxui-avatar img {*position:absolute;}
